<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CSS3 Perspective Playground</title>
</head>

<body>
    <div id="app">
        <h2>CSS3 Perspective Playground</h2>
        <main>
            <section class="settings">
                <div class="settings-container">
                    <label>perspective: {{perspective}} px;</label>
                    <input type="range" min="0" max="999" v-model="perspective" />

                    <label>rotateX: {{rotateX}}deg;</label>
                    <input type="range" min="-180deg" max="180deg" v-model="rotateX" />

                    <label>rotateY: {{rotateY}}deg;</label>
                    <input type="range" min="-180deg" max="180deg" v-model="rotateY" />

                    <label>rotateZ: {{rotateZ}}deg;</label>
                    <input type="range" min="-180deg" max="180deg" v-model="rotateZ" />
                    <br>

                    <button type="button" @click.prevent="reset">Reset</button>
                    <button type="button" @click.prevent="copy">Copy</button>

                </div>
            </section>
            <div class="output">
                <div class="box-container">
                    <div class="box" :style="box"></div>
                </div>
            </div>
        </main>



    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>